
body{
    margin: 0;
    background-image: url("https://i.pinimg.com/564x/66/cb/8d/66cb8d2d36a404565fa4fea780560b7b.jpg");
    background-repeat: inherit;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.contenedor{
    margin-top: 20px;
    width:400px;
    height: 800px;
    display: grid;
    background:rgb(0, 0, 0);
    background-size: cover;
    border:10px solid  #f8e9fa;
    box-shadow:  0px 0px 15px 3px rgba(0,0,0,1);
    grid-template-columns:  6.5% 87% 6.5% ;
    grid-template-rows: 10% 5% 35% 42.5% 7.5% ;
}
.exit {
    margin-top: 15px;
    margin-bottom: 5px;
    grid-row: 1/2;
    grid-column: 2/3;
    color: white;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
}
.exit img{
    width: 30px;
}
.contenedor__imagen{
    margin-bottom: 10px;
    grid-row: 3/4;
    grid-column: 2/3;
    background-image: url("https://i.pinimg.com/564x/15/10/cd/1510cd08a4f723ab5563c66c8af3ae35.jpg");
    background-size: cover;    
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: inset 0px 0px 16px 0px rgba(255,255,255,1);}
.login{
    grid-row: 4/5;
    grid-column: 2/3;
    background: #ffffff;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 40% 20% 20% 20%;
    grid-template-columns: 5% 90% 5%;
    box-shadow: inset 0px 0px 15px 3px rgba(0,0,0,1);
}
.descripcion{
    grid-row: 1/2;
    grid-column: 2/3; 
}
.descripcion h1{
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descripcion p{
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.email{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    grid-row: 2/3;
    grid-column: 2/3;
    color: white;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.email img{
    width: 30px;
    padding-right: 10px;
}

.face{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    grid-row: 3/4;
    grid-column: 2/3;
    color: white;
    background: #1976D2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.face img{
    width: 30px;
    padding-right: 10px;
}
.tw{
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    grid-row: 4/5;
    grid-column: 2/3;
    color: white;
    background: rgb(23, 255, 147);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tw img{
    width: 30px;
    padding-right: 10px;
    filter: grayscale(51%)  sepia(1) saturate(0.81) opacity(1) brightness(0%) contrast(100%) hue-rotate(320deg) invert(100%);
}
