/* .container1{
  width: 810px;
  height: 600px;
  background-color: blue;
  padding-left: 10px;
  padding-top: 10px;  
}

.container2{
  width: 780px;
  height: 500px;
  background-color: yellow;
  padding-left: 10px;
  padding-right: 10px;  
} */

/* background-color: #05C6AD;   */
/* background-color: #FFBD11;     */
/* width: 297px; */
  /* height: 625px; */
* {
    margin: 0;
    padding: 0;
}

body{
  max-width: 297px;
  max-height: 625px;
}
.container{
  width: 297px;
  height: 625px;  
  background-color: #05C6AD;
  display: grid;
  grid-template-columns: 3% 94% 3%;
  grid-template-rows: 3% 94% 3%;
}

.container__login{
  height: auto;
  width: auto;  
  background-color: white;    
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 3% 94% 3%;
  grid-template-rows: 50% 47% 3%;   
}

.container__login--couple img{
  height: 325px;
  width: 279px;
}
.container__login--div{   
  background-color: white; 
  border-radius: 10px;
  border: 2px solid black;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  
}

.container__login--boton{
  position: absolute;
  top: 60px;
  left: 20px;
}

.container__login--div a{  
  text-decoration: none;
  height: 35px;
  margin-top: 7px;
  padding-top: 0px;
  font-size: 1.2em;
  text-align: center;  
  color: white;
  border-radius: 5px;
  text-transform: capitalize;
}

.container__login--div img{  
  height: 20px;
   vertical-align: text-bottom;
}

h1{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;  
    
}
p {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: #93949C;
}
.p--boton1{
  grid-column: 2 /3 ;
  grid-row: 3 / 4;  
  background-color: #242530;
}

.p--boton2{
  grid-column: 2 /3 ;
  grid-row: 4 / 5;
  background-color: #1A47E6;
}

.p--boton3{
  grid-column: 2 /3 ;
  grid-row: 5 / 6;
  background-color: #05C6AD;
}

